.recipecard {
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.recipecard > .colleft {
  width: 50%;
  padding: 10px;
  overflow: hidden;
}

.recipecard > .colright {
  width: 50%;
  padding: 10px;
}

img {
  width: 10px;
  height: 10px;
}
