.whole {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 80vh;
  border: solid black 2px;
  margin: 10px 0px;
}

.mainLeft {
  width: 10%;
  border: black solid 2px;
  margin: 5px;
}

.mainRight {
  width: 90%;
  border: springgreen solid 2px;
  margin: 5px;
  overflow: hidden;
}

footer {
  display: flex;
  align-content: center;
  width: 100%;
  height: 10vh;
  border-style: solid;
  border-color: purple;
  border-width: 2px;
}

.colleft {
  background-color: steelblue;
  width: 50%;
}
